.main-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.09);
    font-size: 18px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-items1 {
    display: flex;
    justify-content: center;
    gap: 30px; /* Decreased gap */
    margin-left: -82px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 30px; /* Decreased gap */
    justify-content: space-between;
}

.navbar-links a {
    margin-right: 10px;
    text-decoration: none;
    color: grey;
}

.demo-button {
    background-color: #3690c1;
    color: #fff;
    padding: 12px 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}


.nav-toggle {
    display: none; /* Hide by default */
}

@media screen and (max-width: 768px) {
    .nav-items1 {
        display: none; /* Hide nav items by default on smaller screens */
    }

    .navbar-links {
        display: none; /* Hide other links by default on smaller screens */
    }

    .nav-toggle {
        display: block; /* Show hamburger menu toggle on smaller screens */
    }
}
